[tool.black]
line-length = 160
[tool.poetry]
name = "siem-query-utils"
version = "1.4.2"
description = ""
authors = ["Adon Metcalfe <adonm@fastmail.fm>"]
readme = "README.md"
packages = [{include = "siem_query_utils"}]

[tool.poetry.dependencies]
python = "^3.10"
azure-cli = "^2.41.0"
fastapi = {extras = ["all"], version = "^0.85.1"}
fire = "^0.4.0"
cacheout = "^0.14.1"
markdown = "^3.4.1"
flatten-json = "^0.1.13"
pathvalidate = "^2.5.2"
httpx-cache = "^0.6.1"
cloudpathlib = {extras = ["azure"], version = "^0.10.0"}
azure-storage-blob = "^12.14.1"
pandas = "^1.5.1"
poetryup = "^0.12.3"
seaborn = "^0.12.1"
esparto = "^4.1.0"
tinycss2 = "^1.2.1"
jupyterlab = "^3.5.0"
jupyter = "^1.0.0"
python-dotenv = "^0.21.0"
pylint = "^2.15.5"

[tool.poetry.scripts]
siem_query_utils = "siem_query_utils:cli"

[tool.poetry.group.dev.dependencies]
black = {version = "^22.10.0", allow-prereleases = true}
pytest = "^7.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
